---
const { title } = Astro.props
---

<div id="wrapper">
  <header id="header">
    <h1>{title}</h1>
    <nav>
      <ul>
        <li>
          <a href="/" class="icon solid"> Home</a>
          <a href="events" class="icon solid"> Events</a>
          <a href="bandw" class="icon solid"> B & W</a>
          <a href="#footer" class="icon solid fa-info-circle"> About</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
